name: Regression Tests
on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 * */5 * *"
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 'lts/gallium'
          - 'lts/hydrogen'
          - 'lts/iron'
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Setup
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - name: Test
      run: |
        npm ci
        npm i --no-save @wfcd/items@latest
        npm i --no-save warframe-worldstate-data@latest
        npm test
